button {padding:0;}

.orderinfo .viewall {display:none !important;}
.orderinfo .viewall .span {display:none !important;}
.orderinfo .orderinfotable ul li {list-style:none;}

.logincreate {float:right;height:auto;min-height:419px;}

.itemsperpage {margin-left:200px;}

/***** Product Next/Previous on Product Detail Page (productnav.isml) *****/
.productdetail .productnavigation .productprevious {background-position: 0 center;}
.productdetail .productnavigation .productnext {background-position: right center;}

.sorthitscontainer {height:20px;}
.sorthitscontainer .resultshits {line-height:18pt;}

/* CART
--------------------------------------------------------------------------------------- */
/*
.cart table.carttable tbody td, .checkoutplaceorder table.placeordertable tbody td {border-bottom: 1px dashed #898989;}
*/
/* Checkout */
.checkoutshipping .addressform .country {padding-bottom:15px;}
.checkoutshipping .addressform .state {padding-bottom:15px;}
.checkoutbilling .addressform .country {padding-bottom:15px;}
.checkoutbilling .addressform .state {padding-bottom:15px;}
.paymentmethodform .creditcardpayment .cardtype {padding-bottom:15px;}


/***** Account Login (accountlogin.isml) *****/
.returningcustomers .rememberme label {vertical-align:middle;}

/***** Account Add Address (editaddress.isml) *****/
.accountaddress .actions button {margin:0 0 0 18px;}

/***** ACCOUNT PAYMENT INSTRUMENTS (paymentinstruments.isml) *****/
.creditcardform .formfield .month .errormessage {left:-145px;top:25px;}

/* RESET PASSWORD
--------------------------------------------------------------------------------------- */
.passwordreset select.selectbox {width:175px;}
.passwordreset input.textinput {width:175px;}

/* WISHLIST
--------------------------------------------------------------------------------------- */
.wishlistitems .wishlistsharing .productlisturl {width:685px;}

/* GIFT REGISTRY
--------------------------------------------------------------------------------------- */
.giftregistry .shareurl{width:685px;}

 