/* Entypo pictograms by Daniel Bruce — www.entypo.com */

@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo-webfont.eot');
    src: url('../fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-webfont.woff') format('woff'),
         url('../fonts/entypo-webfont.ttf') format('truetype'),
         url('../fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo {
	font-family: EntypoRegular;
}
img {
	max-width:100%;
	height:auto !important;
}
#container {
	min-width:0;
}
#header,
#main {
	max-width:975px;
}
#header,
#main,
#mainfeatures,
.headerbar,
.categorymenu,
.productlisting,
#featured_extra,
.pt_productsearchresult .producthits,
.pt_productsearchresult #search,
.pt_productsearchresult #search .productresultarea,
.pt_productsearchresult .contenthits,
.pt_productsearchresult .sorthitscontainer,
.pt_account .breadcrumb,
.pt_productsearchresult #breadcrumbcontent,
.pt_customerservice .breadcrumb,
.pt_checkout .breadcrumb,
.pt_checkout #content,
.pt_checkout .checkoutprogressindicator,
.pt_checkout .checkoutshipping form,
.pt_checkout .checkoutbilling,
.pt_checkout .checkoutplaceorder,
.placeorder_footer,
.pt_orderconfirmation .orderconfirmation,
.pt_orderconfirmation .orderconfirmation .thankyoumessage,
.pt_orderconfirmation #content,
.pt_productsearchresult .nohits,
.pt_productsearchresult .nohitssearch,
.pt_productsearchresult .nohits .nohitsfooter,
.pt_productsearchresult .nohits .nohitsfooter .noresultsbottomslot,
.pt_productsearchresult .nohits .nohitsfooter .noresultsbottom,
.pt_account .accountoverview,
.pt_account .accounteditaddress,
.pt_account .accountpaymentinstruments,
.pt_order .breadcrumb,
.pt_order #content,
.pt_order .orderdetails,
.pt_order .miniaddress .name,
.pt_order .miniaddress .street,
.pt_order .miniaddress .location,
.pt_order .product {
	width:100%;
}
.cycle-slideshow li {
	width:100%;
}
.nav-show {
	font-size:100px;
	line-height:35px;
	cursor:pointer;
	text-align:right;
	display:none;
	margin-right:10px;
}
.cycle-pager {
	position:absolute;
	bottom:20px;
	right:20px;
	z-index:20;
}
#mainfeatures {
	position:relative;
}
	#mainfeatures ul {
		z-index:10;
	}
.page-trigger {
	background-color:#ccc;
	background:rgba(255,255,255,0.3);
	width:19px;
	height:18px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#fff;
	display:block;
	float:left;
	text-align:center;
	line-height:18px;
	margin:0 3px 4px 0;
}
.page-trigger:hover,
.cycle-pager-active {
	text-decoration:none;
	background-color:#ddd;
	background:rgba(255,255,255,0.5);
}
#footer_content {
	max-width:1024px;
	width:100%;
}
.categorymenu li {
	width:14.15%;
}
	.categorymenu li:last-child ul {
		right:0;
	}
.categorymenu a {
	width:100%;
	background:#f9a31c;
	background: -moz-linear-gradient(top,  rgba(249,163,28,1) 0%, rgba(255,196,37,1) 79%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,163,28,1)), color-stop(79%,rgba(255,196,37,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,163,28,1) 0%,rgba(255,196,37,1) 79%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,163,28,1) 0%,rgba(255,196,37,1) 79%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,163,28,1) 0%,rgba(255,196,37,1) 79%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,163,28,1) 0%,rgba(255,196,37,1) 79%); /* W3C */
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.featured-alt {
	width:31.28%;
	padding:10px 1.02% 0 1.02%;
}
.productlisting .product {
	width:17.12%;
}
#header div.logo {
	margin:25px 0 0 33%;
}
.pt_productsearchresult .contenthits .odd,
.pt_productsearchresult .contenthits .even {
	width:46%
}
.pt_productsearchresult .contenthits .odd {
	padding-right:3%;
}
.pt_productsearchresult .contenthits .even {
	padding-left:3%;
}
.searchresultsfooter,
.product-grid {
	clear:both;
}
.pt_checkout #content {
	max-width:757px;
}
.pt_orderconfirmation .orderconfirmation {
	max-width:745px
}
.pt_orderconfirmation #content,
.pt_order #content {
	max-width:750px;
}
.pt_order .orderdetails {
	max-width:700px;
}
.pt_productsearchresult .nohits .nohitsfooter .noresultsbottomslot {
	max-width:349px;
}
.pt_productsearchresult .nohits .nohitsfooter .noresultsbottom {
	max-width:348px;
}
.pt_productsearchresult .nohits .nohitssearch {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.pt_account .accountoverview {
	max-width:737px;
}
.pt_account .accounteditaddress,
.pt_account .accountpaymentinstruments {
	max-width:700px
}

@media screen and (max-width: 1040px) {
	#footer_content > .contentasset {
		float:none;
		width:100%;
	}
	.footer_links,
	#footer_legal {
		width:100%;
	}
	#footer_media {
		float:none;
		width:100%;
		margin:15px 0 0;
	}
	#connect {
		float:left;
	}
	.pt_account .accountpaymentinstruments {
		position:relative;
	}
	.pt_account .accountpaymentinstruments a.add {
		margin-left:0;
		right:0;
	}
}
@media screen and (max-width: 984px) {
	#mainfeatures {
		height:auto;
	}
	.pt_productsearchresult #content {
		width:561px;
	}
	.pt_productsearchresult .product-grid,
	.pt_productsearchresult .product-grid-row,
	.pt_productsearchresult .product-grid-cap,
	.pt_customerservice #content,
	.pt_customerservice .customerservice,
	.pt_customerservice .customerservice_directory {
		background:none;
		width:100%;
	}
	.pt_customerservice .customerservicesection {
		width:48%;
	}
	.pt_customerservice .customerservice_directory {
		margin-left:0;
	}
	.pt_productsearchresult .product-grid-cap {
		padding-bottom:0;
	}
	.pt_productsearchresult .product-grid {
		margin-top:0;
		padding-top:0;
	}
	.pt_productsearchresult .product {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom:15px;
		width:48%;
		border:2px solid #fff0c8;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	.pt_productsearchresult .product:nth-child(5) {
		clear:both;
	}
	.pt_productsearchresult .product-name-link,
	.pt_account #content,
	.pt_account .product-tabs,
	.pt_account #pdpTab1,
	.pt_account .productdetail .addtocartbar,
	.pt_account .productdetail .addtocartbar .addtocart,
	.pt_account .recommendations,
	.pt_account .productdetail .productreview,
	.pt_account .productnav,
	.pt_account #container,
	.pt_account .accountlogin,
	.pt_account .registration,
	.pt_cart .breadcrumb,
	.pt_cart #main,
	.pt_account #pdpReviewsTab {
		width:100%;
	}
	.pt_productsearchresult .pricing {
		display:block;
		width:100%;
	}
	.pt_account #leftcolumn,
	.pt_customerservice #leftcolumn,
	.pt_order #leftcolumn {
		display:none;
	}
	.pt_account .productdetail {
		width:100%;
		margin-left:0;
	}
		.pt_account .productdetail .productdetailcolumn {
			width:50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			margin-left:0;
			padding-left:20px;
		}
		.pt_account .productdetail .productimage {
			width:100%;
			height:auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			background:none;
			border:2px solid #fff0c8;
			-webkit-border-radius:10px;
			-moz-border-radius:10px;
			border-radius:10px;
			
		}
			.pt_account  .productdetail .productimage img {
				width:100%;
				height:auto;
			}
		.pt_account .productdetail .addtocartbar {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
	.pt_account .recommendations li.rec-container {
		margin-bottom:5px;
	}
	.pt_account .accountlogin,
	.pt_account .registration {
		max-width:735px;
	}
	.pt_account .registration {
		margin-left:0;
	}
	.pt_checkout #rightcolumn > div {
		margin-top:0 !important;
	}
}
@media screen and (max-width: 975px) {
	#container {
		background:none;
	}
	#siteSelector > a > img,
	#siteSelector > img {
		display:none;
	}
	#siteSelector .fl {
		float:right;
	}
}

@media screen and (max-width: 850px) {
	.categorymenu {
		height:71px;
	}
		.categorymenu li {
			width:24.85%;
			position:relative;
		}
		.categorymenu ul li:nth-child(1),
		.categorymenu ul li:nth-child(2),
		.categorymenu ul li:nth-child(3),
		.categorymenu ul li:nth-child(4) {
			z-index:1000;
			margin:0 0 1px;
		}
		.categorymenu ul li:nth-child(5),
		.categorymenu ul li:nth-child(6),
		.categorymenu ul li:nth-child(7) {
			z-index:500;
		}
		.categorymenu ul li:nth-child(4) .drop {
			right:0;
		}
		.productlisting .product {
			width:33%;
			margin-right:0;
			padding:10px 0 0;
		}
}
@media screen and (max-width: 807px) {
	.pt_productsearchresult #content {
		width:374px;
	}
	.pt_productsearchresult .sorthitscontainer .searchresult-right {
		float:none;
	}
	.pt_productsearchresult .product {
		width:156px;
	}
	.gsfn-left {
		display:none !important;
	}
	.pt_account .reviewlogin {
		width:100%;
		margin:0;
	}
	.pt_order .orderdetails {
		margin:0;
	}
}
@media screen and (max-width: 739px) {
	.pt_account .registrationform {
		float:left;
	}
	.pt_account .registrationheader {
		display:none;
	}
	.pt_cart .cart,
	.pt_cart #content {
		width:100%;
	}
	.pt_account .accounteditaddress,
	.pt_account .accountpaymentinstruments {
		margin:0;
	}
}
@media screen and (max-width: 722px) {
	.pt_account .logincreate {
		float:left;
	}
	.productimages > a.cboxElement {
		display:none;
	}
}
@media screen and (max-width: 608px) {
	.pt_productsearchresult #content,
	.pt_orderconfirmation .miniaddress .name,
	.pt_orderconfirmation .miniaddress .street,
	.pt_orderconfirmation .miniaddress .location,
	.pt_orderconfirmation .product,
	.ui-widget.ui-dialog,
	.ui-dialog .ui-dialog-titlebar {
		width:100% !important;;
	}
	.pt_productsearchresult #leftcolumn,
	.pt_account .sendtofriend {
		display:none;
	}
	.shippingpromotable {
		width:100% !important;
		height:auto !important;
	}
	.shippingpromotable th,
	.shippingpromotable td,
	.pt_order .orderdetailsummary .label,
	.pt_order th {
		white-space:inherit;
	}
	.pt_orderconfirmation th,
	.pt_orderconfirmation .orderdetailsummary .label {
		white-space:normal;
	}
	.pt_orderconfirmation .orderpayment .orderpaymentdetailstable .label,
	.pt_orderconfirmation .orderpayment td.orderpaymentinstruments .minicreditcard {
		padding:0;
	}
	.ui-dialog .ui-dialog-titlebar {
		margin:0;
	}
}
@media screen and (max-width: 530px) {
	.nav-show {
		display:block;
	}
	.categorymenu {
		display:none;
		margin-top:40px;
	}
	.categorymenu {
		height:252px;
	}
	.categorymenu li {
		width:100%;
	}
	#header div.logo {
		margin:25px 0 0 15px;
	}
	.categorymenu ul.drop {
		background-color:#eb7f1f;
		background-image:none;
		width:100%;
		position:relative;
		top:0;
		display:none;
	}
	.categorymenu ul.drop ul {
		background-color:#eb7f1f;
		background-image:none;
	}
	.categorymenu ul li:hover ul,
	.categorymenu ul a:hover ul {
		visibility:visible;
		display:block;
	}
	.productlisting .product {
		width:50%;
	}
	.featured-alt {
		width:100%;
		padding:10px 0;
	}
	.pt_account .productdetail .productdetailcolumn {
		width:100%;
	}
	.pt_productsearchresult .productquickviewbtn {
		display:none !important;
	}
	.pt_customerservice .customerservicesection {
		width:100%;
		height:auto;
	}
	.pt_account .productimages .fl {
		display:none;
	}
	.minicartcontent {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
		margin:0;
		position:fixed;
		top:0;
		left:0;
		width:100% !important;
		height:100% !important;
	}
	.checkoutminicart .name {
		height:auto;
	}
	.pt_cart .detailscolumn .product {
		width:auto;
	}
	.pt_cart .cart td.quantitycolumndetails,
	.pt_cart .cart td.itemtotalcolumn {
		width:auto;
		min-width:0;
	}
	.pt_cart td.imagecolumn {
		width:47px;
	}
	.pt_checkout .checkoutshipping .continuecheckoutbutton,
	.pt_checkout .checkout .checkoutbilling .continuecheckoutbutton {
		position:relative;
		right:auto;
		margin-top:0;
	}
	.pt_account .enter-partial-table td {
		display:block;
	}
	.pt_orderconfirmation .orderpayment td.orderbilling .miniaddress {
		padding:0;
	}
	#connect {
		padding-left:0;
	}
	.catalogUI {
		display:none;
	}
}
@media screen and (max-width: 390px) {
	.pt_account .accountlogin {
		margin-left:0;
	}
	.pt_account .accountlogin .logincreate,
	.pt_account .accountlogin .logincustomers,
	.pt_account .accountlogin .logingeneral,
	.pt_account .registration .registrationcontent,
	.pt_account .registration .registrationform,
	.pt_account .registration .registrationform .formactions,
	.pt_account .logincreate,
	.pt_account .logincustomers,
	.pt_checkout .checkoutplaceorder .product {
		width:100%;
	}
	.pt_checkout td.imagecolumn {
		width:auto;
	}
}
@media screen and (max-width: 360px) {
	.sitesearch {
		float:none;
	}
	.pt_productsearchresult .product {
		width:100%;
	}
	.pt_productsearchresult .product a {
		width:100%;
	}
	.pt_productsearchresult .product .innerpalette a {
		width:auto;
	}
	.pt_order .orderpayment .orderpaymentdetailstable .label,
	.pt_order .orderpayment td.orderbilling .miniaddress,
	.pt_order .orderpayment td.orderpaymentinstruments .minicreditcard,
	.pt_order .ordershipment table.ordershipmenttable th {
		padding-left:0;
	}
	.pt_order .ordershipment table.ordershipmenttable td {
		padding:0;
	}
}












